 <div class="card">
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4 js-display-day">Today is <%= Date.today.strftime("%A") %> </span>
      <p class= "js-display-day-info">Click for more info on a shiftday!</p>
      <%= link_to "Button Text", user_request_path ( 1, 49), class: 'button' %>
    </div>
</div>