

<div class="container">
<div class="row">
    <div class="col s12">
		<ul class="collection">
    		<li class="collection-item avatar">
      			<i class="material-icons circle">folder</i>
      			<span class="title">Titulo</span>
      			<p>Otra cosa<br>
         		Dia
      			</p>
      			<p class= "secondary-content"> Turno
                </p>
    		</li>
    		<li class="collection-item avatar">
      			<i class="material-icons circle">folder</i>
      			<span class="title">Titulo</span>
      			<p>><br>
         		Dia
      			</p>
      			<p class= "secondary-content"> Turno
                </p>
    		</li>
    		</li>
		</ul>
    </div>
</div>
</div>
