<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>ShiftPal</title>
</head>
<body>
<div class="section no-pad-bot blue-grey lighten-5 home-image" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col s5 m5">
            <br><br>
                <h1 class="header left blue-grey-text text-darken-4">The Next<br>Generation of Corporate Calendars</h1>
            <br><br>
            </div>
            <div class="col s7 m7">
                <img class="responsive-img center" src="img/festrip-devices.png">
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                <h2 class="center blue-grey-text text-darken-4"><i class="material-icons">perm_contact_calendar</i></h2>
                <h5 class="center">Check your Roster</h5>
                    <p class="light">Just a click to see your shifts on a current month calendar. Browse your roster to select future shifts and get all the information. </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                <h2 class="center blue-grey-text text-darken-4"><i class="material-icons">group</i></h2>
                <h5 class="center">Change your shifts</h5>
                    <p class="light">By an algorithm that respects shift compatibilities, you will be able to send or accept requests from/to your shiftpals in exchange for your selected available shifts.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                <h2 class="center blue-grey-text text-darken-4"><i class="material-icons">thumb_up</i></h2>
                <h5 class="center">Plan and enjoy your free time</h5>
                    <p class="light">Not waiting for email confirmations, just one click to plan a weekend getaway, your next yoga class or just meeting up with friends in advance or in short notice.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>