<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>ShiftPal</title>
</head>
<body>
<div class="section no-pad-bot blue-grey lighten-5 home-image" id="index-banner">
    <div class="container">
      <div class="row">
        <div class="col s5 m5">
          <br><br>
          <h1 class="header left blue-grey-text text-darken-4">The Next<br>Generation of Corporate Calendars</h1>
          <br><br>
        </div>

        <div class="col s7 m7">

            <img class="responsive-img center" src="img/festrip-devices.png">

        </div>
      </div>
      </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m12">
          <h4 class="center">Speeds up development</h4>

            <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>
      <div class="row center">
        <a href="/getting-started.html" id="download-button" class="btn-large waves-effect waves-light blue-grey darken-1 ">Get Started</a>
        

  <%= link_to root_path do %>
  <%= content_tag :span, "Home", :class => "btn-large waves-effect waves-light blue-grey darken-1 " %>
<% end %>

      </div>

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text text-darken-4"><i class="material-icons">perm_contact_calendar</i></h2>
            <h5 class="center">Check your Roster</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text text-darken-4"><i class="material-icons">group</i></h2>
            <h5 class="center">See who are your shiftpals</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text text-darken-4"><i class="material-icons">thumb_up</i></h2>
            <h5 class="center">Change your shifts</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>

</div>



  </body>
</html>