// Place all the styles related to the LandingPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
	font-family: Avalon;
}

.center {
	font-family: Avalon;
}

p.light {
	font-family:ShentoxW01-Light;
}
