// Place all the styles related to the Shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  .calendar-navbar{
    text-align: center;
  }

  tr {
    border-collapse: collapse;
    font-size: 1.20em;
  }

  th {
    padding: 6px;
    border-collapse: collapse;
    box-sizing: border-box;
    text-align: center;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 5%;
    border: 1px solid white;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 2px;
    border-radius: 20px;
  }

  thead{    
  	background-color: #ddd;
  }

  .day {
    height: 40px;
    cursor: pointer;
  }

  .day:hover{
  	background-color: green;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border: 3px solid #ddd;
    border-top-color: #e91e63;
    border-top-style: solid;
    border-top-width: 3px;
    border-right-color: #e91e63;
    border-right-style: solid;
    border-right-width: 3px;
    border-bottom-color: #e91e63;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: #e91e63;
    border-left-style: solid;
    border-left-width: 3px;
    border-radius: 20px;
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #DDD;
  }
  .next-month {
    background: #DDD;
  }
  .current-month {}

  .has-events {}

  .morning-shift{
    background: #ffa726
  }

  .afternoon-shift{
    background: #69f0ae
  }

  .night-shift{
    background: #00b0ff
  }
}

i.morning{
  color: #ffa726
}
i.afternoon{
  color: #69f0ae
}

i.night{
  color: #00b0ff
}

.display-day{
	font-size: 1.55em;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}

.fixed-action-btn{
  top: 110px; left: 40px;
}

.not-for-change{
  opacity: 0.5;
}