// Place all the styles related to the Shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;

  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  .calendar-navbar{
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-size: 20px;
    font-family: ShentoxW01-Light;
  }

  tr {
    border-collapse: collapse;
    font-size: 1.20em;
  }

  th {
    padding: 6px;
    border-collapse: collapse;
    box-sizing: border-box;
    text-align: center;
    font-family: Avalon;
    background-color: #f8f8f8;
  }

  td {
    padding: 4px 10px 4px 10px;
    vertical-align: top;
    width: 5%;
    border: 1px solid white;
    border-top-color: white;
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 2px;
  }

  thead{    
  	background-color: #fff;
    font-family: ShentoxW01-Light;
  }

  .day {
    height: 40px;
    cursor: pointer;
  }

  .day:hover{
  	background-color: #2D99C4;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border: 3px solid #ddd;
    border-top-color: #011627;
    border-top-style: solid;
    border-top-width: 3px;
    border-right-color: #011627;
    border-right-style: solid;
    border-right-width: 3px;
    border-bottom-color: #011627;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color: #011627;
    border-left-style: solid;
    border-left-width: 3px;
  }

  .past {}
  .future {}

  .start-date {}

  .current-month {}

  .has-events {}

  .morning-shift{
    background: #2EC4B6
  }

  .afternoon-shift{
    background: #FF9F1C;
  }

  .night-shift{
    background: #E71D36;
  }
}

i.morning{
  color: #2EC4B6;
}
i.afternoon{
  color: #FF9F1C;
}

i.night{
  color: #E71D36;
}

.display-day {
    font-size: 28px;
    text-align: right;
    padding-right: 0px;
    margin-top: 0px;
    font-family: ShentoxW01-Light;
}

a {
  color: #2D99C4;
}

a .display-day {
  color: #011627;
}

.fixed-action-btn{
  top: 110px; left: 40px;
}

.not-for-change{
  opacity: 0.5;
}

.card-date {
   font-family: ShentoxW01-Light;
    font-size: 21px;
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
}

.collection .collection-item.avatar i.circle{
  background-color: #aaa;
  color: #fff;
}

.modal-alert-message {
  font-family: ShentoxW01-Light;
}
