  <footer class="page-footer black darken-1">
    <div class="container">
      <div class="row">
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a href="mailto:cillassubira@gmail.com">Provide feedback!</a> 
      Made by <a class="white-text text-darken-4" href="https://twitter.com/cillasw">Cillas</a>
      </div>
    </div>
  </footer>